<!doctype html>
<html lang="en" class="no-js" data-motion="subtle">
  <head>{% include head.html %}{% include head/custom.html %}</head>
  <body class="dossier-site dossier-hud dossier--{{ page.archive_id | escape }}">
    <a class="skip-link" href="#main">Skip to content</a>
    {% include dossier-header.html %}
    <div class="dossier-shell">
      {% include dossier-nav.html %}
      <main id="main" class="dossier-main" tabindex="-1">
        {% include dossier-heading.html %}
        <div class="dossier-body">{{ content }}</div>
        {% include dossier-footer.html %}
      </main>
    </div>
    {% include analytics.html %}
  </body>
</html>
